//- reference : https://startbootstrap.com/snippets/navbar-logo

doctype html 
html 
    head 
        title 
            block title 
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery.mon.js")
        script(type="text/javascript" src="/js/bootstrap.bundle.min.js")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
            .container
                a.navbar-brand(href='#')
                    img(src='https://placeholder.pics/svg/150x50/888888/EEE/Logo' alt='...' height='36')
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='/') Home
                        if user 
                            li.nav-iten 
                                a.nav-link(href='/auth/sign_out') Sign Out 
                        else
                            li.nav-item
                                a.nav-link(href='/auth/sign_in') Sign In 
                            li.nav-item 
                                a.nav-link(href='/auth/sign_up') Sign Up 
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Content
                                ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                                    li
                                        a.dropdown-item(href='/articles') Articles
                                    li
                                        a.dropdown-item(href='/users') Members
        //- Page Content
        .container.mt-4
            h1.mt-4 
                block page_title
            block content